.App {
  text-align: center;
}

p {
  font-size: 1.3rem;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

button {
  margin-top: 14px;
  padding: 7px 40px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 5px 10px #474545;
  cursor: pointer;
  background-color: #453368;
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
}

.icon-container {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
